In [1]:
print("Hello world!")

Hello world!

In [2]:
print("Hello")

Hello

In [3]:
print("Hi all! How are you guyz?")

Hi all! How are you guyz?

In [4]:
print("this time i am using single quote")

this time i am using single quote

In [5]:
print('hello friends')

hello friends

In [6]:
hello=1+2

In [7]:
print(hello)

3

In [8]:
x=45
y=10
z=x+y

In [9]:
z

55

In [10]:
print("z=",z)

z= 55

In [11]:
print(x)

45

In [12]:
l=x%y

In [13]:
l

5

In [14]:
print(y)

10

In [15]:
print(x+y)

55

In [16]:
a=5
b=9
c=a/b
print("c",c)

c 0.5555555555555556

In [17]:
a=50
b=10
z=a*b

In [18]:
print("z",z)

z 500

In [19]:
s=a//b

In [20]:
s

5

In [21]:
w=34
e=45
z=w+e

In [22]:
print("value of z   ",z)

value of z    79

In [23]:
'a'+str(5)+'b'

'a5b'

In [24]:
my_list=[1,3,'a']

In [25]:
print(my_list)

[1, 3, 'a']

In [26]:
type(my_list)

list

In [28]:
print("the value of w and e are",w,"&",e,"respectively")

the value of w and e are 34 & 45 respectively

In [29]:
x=10
y=5
print("multiplication of x and y is",x*y)

multiplication of x and y is 50

In [30]:
a=56
b=78
c=a*b
print("c=",c)

c= 4368

In [31]:
tuple(my_list)

(1, 3, 'a')

In [32]:
len(1234)

TypeError: object of type 'int' has no len()

In [33]:
len(my_list)

3

In [34]:
type(my_list)

list

In [35]:
tuple(my_list)

(1, 3, 'a')

In [36]:
arup=[1,7,9.0,'a']

In [37]:
arup.append(4)

In [38]:
arup

[1, 7, 9.0, 'a', 4]

In [39]:
def add_num(*args):
    return num1+num2
add_num(12,34)
print("Result is ",add_num)

NameError: name 'num1' is not defined

In [40]:
def add_num(*args):
    return args+args
add_num(12,34)

(12, 34, 12, 34)

In [41]:
def arup(num1,num2):
    return num1+num2
arup(90,90)

180

In [48]:
def arup(num1,num2,num3):
    z=str(num1)+num2+num3    
    return z
arup(1,2,3)

TypeError: can only concatenate str (not "int") to str

In [1]:
a=9
b=9
c=a+b
print('The value of c = ',c)

The value of c =  18

In [2]:
print('a=',a,'b=',b,'c=',c)

a= 9 b= 9 c= 18

In [24]:
def arup(x,y,z):
    a=x+y+z
    #return a
    if a<50:
        print('CONGRATS Arup!,you have scored 90')
    else:
        print('Alas Arup you have failed')
arup(23,2,400)

Alas Arup you have failed

In [15]:
arup(45,56,78)

179

In [29]:
def arup(a,b,c):
    z=str(a)+str(b)+c
    t=(z)
    len(t)
    #return z
    if len(t)<3:
        print('CONGRATS Arup!,you have scored 90')
    else:
        print('Alas Arup you have failed')
arup(23,2,'a')

Alas Arup you have failed

SyntaxError: invalid syntax (4108373834.py, line 1)

In [32]:
esa=0
for arup in range(1,101):
    esa+=arup
print(esa)

5050

In [4]:
x=6
y=9
z=(x+y)**2

In [5]:
z

225

In [1]:
movies=['Belashuru','Nayika','Cream','My name is khan']

In [2]:
print(movies[1])

Nayika

In [3]:
movies.insert(2,'K3G')

In [4]:
movies

['Belashuru', 'Nayika', 'K3G', 'Cream', 'My name is khan']

In [6]:
arup=0 # initiate
for next_number in range(1,101):
    arup+=next_number
print(arup)

5050

In [7]:
number=0
for next_number in range(1,101):
    number=number+next_number
print(number)

5050

In [5]:
n=100
c=(n*(n+1)/2)**2
print(c)

25502500.0

In [2]:
number=0
for next_number in range(1,21):
    number=number+next_number**2
print(number)

2870

In [1]:
num=0
for numb in range(1,101):
    num=num+numb**2
print(num)

338350

In [3]:
def numb(n):
    num=0
    for i in range(1,n+1):
        num=num+i**2
    return num
numb(100)

338350

In [10]:
# sum of cube
def cube(n):
    x=0
    for i in range(1,n+1):
        x=x+i**3
    return x
    print('The sum of cube of first three natural number is ',n)
cube(3)

36

In [9]:
def arup(name):
    print('hello',name)
arup('arup')

hello arup

In [8]:
def numb(n):
    num=0
    for next_num in range(1,n+1):
        num=num+next_num**3
    return(num)
numb(3)

36

In [9]:
def numb(n):
    num=0
    for i in range(1,n+1):
        num=num+i**2
    return(num)
numb(3)

14

In [10]:
x=5
y=9
z=x**2+y**2
print('The value of z',z)

The value of z 106

In [2]:
l=[1,2,3]
print(l)

[1, 2, 3]

In [1]:
list=[1,2,[3,4]]

In [2]:
list

[1, 2, [3, 4]]

In [3]:
def numb(n):
    num=0
    for i in range(1,n+1):
        num=num+i**3
    return num
numb(3)

36

In [4]:
fav_movies=['x','y','z']
for i in fav_movies:
    print(i)

x
y
z

In [7]:
count=0
while count<len(fav_movies):
    print(fav_movies[count])
    count=count+1

x
y
z

In [10]:
my_fav_movies=['znmd','kkkg','kgf']
for i in my_fav_movies:
    print(i)

znmd
kkkg
kgf

In [11]:
movies=0
while movies<len(my_fav_movies):
    print(my_fav_movies[movies])
    movies=movies+1

znmd
kkkg
kgf

In [12]:
split(acg)

NameError: name 'split' is not defined

In [1]:
movie=['x','a','s','d','f']

In [2]:
movie[3]

'd'

In [3]:
movie.append(1967)

In [4]:
movie

['x', 'a', 's', 'd', 'f', 1967]

In [5]:
movie.insert(2,1977)

In [6]:
movie

['x', 'a', 1977, 's', 'd', 'f', 1967]

In [7]:
movie.insert(1,1987)

In [8]:
movie

['x', 1987, 'a', 1977, 's', 'd', 'f', 1967]

In [9]:
movie.insert(5,2022)

In [10]:
movie

['x', 1987, 'a', 1977, 's', 2022, 'd', 'f', 1967]

In [13]:
movie.insert(-2,2000)

In [14]:
movie

['x', 1987, 'a', 1977, 's', 2022, 2000, 'd', 2000, 'f', 1967]

In [16]:
movie.remove(2000)

movie

In [17]:
movie

['x', 1987, 'a', 1977, 's', 2022, 'd', 2000, 'f', 1967]

In [18]:
for i in movie:
    print(i)

x
1987
a
1977
s
2022
d
2000
f
1967

In [19]:
my_list=[3,6,9.0,['a','b',[7,'u']]]

In [20]:
my_list

[3, 6, 9.0, ['a', 'b', [7, 'u']]]

In [22]:
for i in my_list:
    print(i)

3
6
9.0
['a', 'b', [7, 'u']]

In [23]:
my_list[3][2][0]

7

In [24]:
names=['arup','esa']
isinstance(names,list)

True

In [25]:
x=len(names)
isinstance(x,list)

False

In [26]:
my_list=[3,'x',7,[2,6]]

In [27]:
my_list

[3, 'x', 7, [2, 6]]

In [28]:
for i in my_list:
    print(i)

3
x
7
[2, 6]

In [29]:
for i in my_list:
    if isinstance(i,list):
        for j in i:
            print(j)
    else:
        print(i)

3
x
7
2
6

In [30]:
l=[6,7,[8,9]]

In [31]:
l

[6, 7, [8, 9]]

In [32]:
for i in l:
    print(i)

6
7
[8, 9]

In [34]:
for i in l:
    if isinstance(i,list):
        for j in i:
            print('Hello!',j)
    else:
        print('HI!',i)

HI! 6
HI! 7
Hello! 8
Hello! 9

In [43]:
my_list=[1,2,[3,4,[5,6]]]
for i in my_list:
    if isinstance(i,list):
        for j in i:
            if isinstance(j,list):
                for k in j:
                    print(k)
            else:
                print(j)
                
    else:
        print(i)

1
2
3
4
5
6

In [44]:
my_list=[1,2,[3,4],[5,['arup','esa']]]
for i in my_list:
    if isinstance(i,list):
        for j in i:
            if isinstance(j,list):
                for k in j:
                    print(k)
            else:
                print(j)
                
    else:
        print(i)

1
2
3
4
5
arup
esa

In [47]:
def my_function(the_list):
    for i in the_list:
        if isinstance(i,list):
            my_function(i)
        else:
            print(i)

In [48]:
my_function(my_list)

1
2
3
4
5
arup
esa

In [49]:
len(my_list)

4

In [1]:
l=[1,2,3,[4,5,[7,'a']]]

In [2]:
for i in l:
    print(i)

1
2
3
[4, 5, [7, 'a']]

In [4]:
for i in l:
    if isinstance(i,list):
        for j in i:
            if isinstance(j,list):
                for k in j:
                    print(k)
            else:
                print(j)
            #print(j)
    else:
        print(i)

1
2
3
4
5
7
a

In [5]:
def my_function(the_list):
    for i in the_list:
        if isinstance(i,list):
            my_function(i)
        else:
            print(i)

In [6]:
my_function(l)

1
2
3
4
5
7
a

In [7]:
num=0
for i in range(1,101):
    num=num+i
print('The sum of n natural numbers',num)

The sum of n natural numbers 5050

In [10]:
def my_function(n):
    num=0
    for i in range(1,n+1):
        num=num+i
    return(num)
my_function(100)

5050

In [11]:
print('I love my wife')

I love my wife